html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
	font-size: 18px;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 1;
	background: linear-gradient(180deg, rgba(132, 250, 176, 1) 0%, rgba(143, 211, 244, 1) 100%);

}

a {
  #color: inherit;
  color: #0070f3;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
	display: block;
}

h1,
h2,
h3 { margin: 10 }
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
