
.heading2Xl {
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 1rem 0;
}

.headingXl {
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 800;
	letter-spacing: -0.05rem;
	margin: 1rem 0;
}

.headingLg {
	font-size: 1.2rem;
	line-height: 1.4;
	margin: 1rem 0;
}

.headingMd {
	fon-size: 1.2rem;
	line-height: 1.5;
}

.borderCircle {
	border-radius: 9999px;
}

.colorInherit {
	color: inherit;
}

.padding1px {
	padding-top: 1px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listItem {
	margin: 0 0 1.25rem;
}

.lightText {color: #666;
}

.chart {
left: 0px;
top: 0px;
width: 90vw;
height: 90vh;
margin: 5vh 5vw; 
opacity: 1;
border-radius: 8px;
background: radial-gradient(3.33% 8.69%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.01) 100%);
box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
